@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;

    
}

.note{
    background: rgb(255, 251, 173);
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    h1{
        font-size: 1.5em;
        font-weight: bold;
        margin: 0;
    }
    h3{
        font-size: 1em;
        font-weight: bold;
        margin: 0;
    }
}
.dlt{
}

.newNote{
    
}
